* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  height: 100%;
  background-color: #f3f5f7;
}

@media only screen and (min-width: 100px) and (max-width: 700px) {
  .month {
    width: 100% !important;
    margin: 0 !important;
  }
  ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  ul li {
    width: 100% !important;
  }
}
#app {
}
nav {
  position: fixed;
  left: 0;
  top: 50px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 20px rgba(27, 141, 235, 0.1);
  padding: 10px;
  z-index: 1;
}
nav a {
  display: flex;
  line-height: 40px;
}
main {
  display: flex;
  flex-direction: column;
}
header {
  background: rgba(255, 255, 255, 1);
  padding: 10px 0;
  box-shadow: 0px 5px 20px rgba(27, 141, 235, 0.1);
  height: 53px;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .menu {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
}
header h2 {
  flex: 1;
  text-align: center;
}
.month {
  flex: 1;
  width: auto;
  overflow-y: auto;
  margin: 0 40px;
  padding: 10px 0;
}
.title {
  padding: 10px 0;
  box-shadow: 0px 5px 20px rgba(27, 141, 235, 0.1);
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.39);
  margin-bottom: 10px;
  flex-direction: column;
}
h1 {
}
h5 {
  color: #333;
}
ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 240px);
}
ul li {
  break-inside: avoid;
  box-sizing: border-box;
  min-height: 300px;
  height: auto;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(225deg, #e5f3ff 0%, #ffffff 18%, #ffffff 100%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  float: left;
}
ul li p {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.img-box {
  position: relative;
  width: 100%;
  height: 300px;
}
.date {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
span,
b {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
}
b {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  object-fit: cover;
}
