/* 通用 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 10px;
}

h1 {
  font-size: 20px;
}

.title {
  width: 100%;
  color: #f00;
  margin: 10px 0;
  text-align: center;
  display: block;
}
:root {
  --grid-num: 3;
}

main {
  display: block;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-num), 1fr);
  grid-gap: 10px;
  margin: 0 0 40px 0;
}

.line {
  width: 100%;
}

.box {
  border: 1px solid #000;
  width: 100%;
  height: 150px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #ed2f6a;
}
