<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/vue.js"></script>
  <!-- <script src="./js/jquery.min.js"></script> -->
  <script type="text/javascript">
    //回调函数
    function train(data) {
      window.list = data
    }
  </script>
  <script src="./js/data.json"></script>
  <link rel="stylesheet" href="./css/blog.css">
</head>

<body>
  <div id="app">
    <nav v-show="showNav">
      <a v-for="(x,y) in list" :key="y" :href="'#'+x.date">{{x.date}}</a>
    </nav>
    <main>
      <header>
        <img @click="showMenu" class="menu" src="https://s1.ax1x.com/2022/03/17/qC38je.png" alt="" srcset="">
        <h2>2022博客日记</h2>
      </header>
      <div class="month">
        <div class="content" v-for="(x,y) in list" :key="y">
          <div class="title" :id="x.date">
            <h2>{{x.date}}</h2>
            <h5>{{x.content}}</h5>
          </div>
          <ul>
            <li v-for="(item,index) in x.children" :key="index">
              <p class="content" :title="item.content">{{item.content}}</p>
              <div class="img-box">
                <p class="date">{{item.date}}</p>
                <span v-if="item.imgs.length>1">+{{item.imgs.length-1}}</span>
                <!-- <img v-for="i in item.imgs" :key="i" :src="i" alt=""> -->
                <img :src="item.img" alt="">
                <b v-if="item.imgs.length>1" @click="nextImg(y,index)">></b>
              </div>
            </li>
            <div style="clear: both;"></div>
          </ul>
        </div>
      </div>
    </main>
  </div>
  <script src="./js/blog.js"></script>
</body>

</html>